<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gorit.mapper.StudentMapper">


    <!-- 当数据库表的表名称和实体类的属性名称不对应的时候需要声明 -->
    <resultMap id="stuMap" type="cn.gorit.entity.Student">
        <id column="sno" property="sno"/>
        <result column="sname" property="name"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
    </resultMap>

    <sql id="s1">
        select * from student
    </sql>
    <sql id="s2">
        insert into student(sname,gender,age) values
    </sql>
    <!-- 使用 map 映射 -->
<!--    <select id="selectStudentById" parameterType="int" resultMap="stuMap">-->
<!--        select * from student where id = #{id}-->
<!--    </select>-->
    <!-- 使用 hashmap 映射 -->
    <select id="selectStudentById" parameterType="int" resultType="hashmap">
        select * from student where id = #{id}
    </select>

    <select id="selectAllStudent" resultType="cn.gorit.entity.Student">
        select * from student
    </select>

    <insert id="insertStudent" parameterType="cn.gorit.entity.Student" keyProperty="id">
        <include refid="s2"/>
         (#{name},#{gender},#{age})
    </insert>

    <update id="updateStudent" parameterType="cn.gorit.entity.Student">
        update student set sname=#{name},gender=#{gender},age=#{age} where id=#{id}
    </update>

    <delete id="deleteStudentById" parameterType="int">
        delete from student where id = #{id}
    </delete>

    <select id="selectStudentByNameAndId" resultMap="stuMap">
        <include refid="s1"/>
            where id = #{sno} and sname = #{stuName}
    </select>

    <!-- 使用循环插入多条数据，useGenerated 上面已经添加过了 -->
    <insert id="insertStudents" keyProperty="id">
        <!-- 使用 foreach 实现循环遍历 -->
        <include refid="s2"/>
<!--        <sql id="s2">-->
<!--              insert into student(sname,gender,age) values-->
<!--        </sql>-->
            <foreach collection="slist" item="stu" separator=",">
                (#{stu.name},#{stu.gender},#{stu.age})
            </foreach>
    </insert>
</mapper>
