<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 开启注解扫描   -->
<!--    <context:component-scan base-package="cn.gorit.entity"/>-->

<!--    <bean id="p" class="cn.gorit.aop.People" p:name="张三"/>-->
<!--    <bean id="l" class="cn.gorit.aop.Laywer"/>-->
<!--    -->
<!--    <aop:config>-->
<!--        &lt;!&ndash;   什么时候开始做事情，     &ndash;&gt;-->
<!--        <aop:pointcut id="ps" expression="execution(* cn.gorit.aop.People.speak(..))"/>-->
<!--        <aop:aspect ref="l">-->
<!--&lt;!&ndash;            <aop:before method="before" pointcut-ref="ps"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <aop:before method="after" pointcut-ref="ps"/>&ndash;&gt;-->
<!--            <aop:around method="around" pointcut-ref="ps"/>-->
<!--         </aop:aspect>-->
<!--    </aop:config>-->

    <!-- 扫描 AOP 下的包-->
    <context:component-scan base-package="cn"/>
    <!--    开启注解的 AOP 编程  JDK 代理-->
<!--    <aop:aspectj-autoproxy proxy-target-class="false"/>-->
</beans>