<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>添加数据</h3>
<a href="/add">添加</a>
    <table border="1px">
        <thead>
            <td>编号</td>
            <td>作者</td>
            <td>书名</td>
            <td>价格</td>
            <td>操作</td>
        </thead>
        <tr th:each="item:${list}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.author}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td>
                <a th:href="@{/update/book(id=${item.id})}">修改</a>
                &nbsp;&nbsp;
                <a th:href="@{/delete/book(id=${item.id})}">删除</a>
            </td>
        </tr>
    </table>
</body>
</html>
